<%- include('../_layouts/adminheader') %>

<%- include('../_layouts/adminsidebar') %>

<!--main-container-part-->
<div id="content">
    <!--breadcrumbs-->
    <div id="content-header">
        <div id="breadcrumb"> <a href="/admin/setting" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
                Settings</a></div>
    </div>
    <!--End-breadcrumbs-->

    <!--Action boxes-->
    <div class="container-fluid">
        <div class="quick-actions_homepage">

        </div>
        <!--End-Action boxes-->

        <!--Chart-box-->
        <div class="row-fluid">
            <div class="widget-box">
                    <%- include('./message') %> 
                <form action="/admin/setting/check" method="POST" class="form-horizontal">
                    <div class="control-group">
                        <label class="control-label">Old Password</label>
                        <div class="controls">
                            <input type="password" class="span11" name="old_password" placeholder="Old Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">New Password</label>
                        <div class="controls">
                            <input type="password" class="span11" name="new_password" placeholder="New Password">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Confirm Password</label>
                        <div class="controls">
                            <input type="password" class="span11" name="confirm_password" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>

            </div>
        </div>
        <!--End-Chart-box-->

    </div>
</div>

<!--end-main-container-part-->

<%- include('../_layouts/adminfooter') %>