<%- messages('messages', locals) %>
      
        <% if (errors) {%>
            <% errors.forEach(function(error) { %>
            <div class="alert alert-danger">
                <%= error.msg %>
            </div>
            <% });%>
        <% }%>