<!--sidebar-menu-->
<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-home"></i> Dashboard</a>
  <ul>
    <li class="active acbgcolor" ><a href="/admin/dashboard"><i class="icon icon-home"></i> <span>Dashboard</span></a> </li>

    <li class="submenu acbgcolor"> <a href="/admin/confarence"><i class="icon icon-th-list"></i> <span>Conferences</span> <span class="label label-important">3</span></a>
      <ul>
          <li><a href="/admin/confarence/add-confarence">Add New Conference</a></li>
        <li><a href="/admin/generic/add-generic"> Upload Conferences</a></li>
        <li><a href="/admin/confarence">Conferences</a></li>
      </ul>
    </li>
    
  </ul>
</div>


<!--sidebar-menu-->