
<% include _layouts/header %>
<div id="loginbox">            
    <form id="loginform" class="form-vertical" action="/admin/new-password" method="POST">
         <div class="control-group normal_text"> <h3><img src="/img/logo.png" alt="Logo" /></h3></div>
        
        <div class="control-group">
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock"></i></span><input name="password" type="password" placeholder="Password" />
                </div>
            </div>
            <input type="hidden" name="id" value="<%= id %>">
            <input type="hidden" name="token" value="<%= token %>">
        </div>
        <div class="form-actions">
            <span class="pull-right"><button type="submit"  class="btn btn-success" > Update Password</a></span>
        </div>
        
    </form>
   
</div>
<% include _layouts/footer %>